.images {
    background-color: rgb(23, 23, 53);
}

img {
    margin: 10px 20px 10px 20px;
}

.img-thumbnail {
    height: 200px;
    width: 200px;
}

.container {
    text-align: center;
    height: auto;
}